server:
  port: 9090

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/FruitDistributionApp
    username: ayaanjha
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true