server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/Fruit Distribution App
    username: ayaanjha
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true